.mySwiper.swiper-button-next{
    background-image: url('../../assets/RightArrow.svg');
}

.mySwiper.swiper-button-prev{
    background-image: url('../../assets/LeftArrow.svg');
}

.swiperSlide{
    width: auto !important;
}