.gridContainer{
    background-color: #121212;
    padding: 10px 20px;
}

.headerSection{
    color: #FFFFFF;
}

/* flex */
.flexContainer{
    background-color: #121212;
    padding: 10px 20px;
}

.section1{
    display: flex;
    justify-content:space-between;
}

.topAlbums{
    color: #FFFFFF;
}

.collapse{
    color: #34C94B;
    background-color: #121212;
    padding-right:25px;
}

.collapse:hover{
    cursor: pointer;
}

.topAlbumsSection{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}